<br />
<h3>View Customer</h3>
<br />


<div class="container">
    <div class="row">
        <div class="col-3">ID</div>
        <div class="col-6">{{data.id}}</div>
    </div>

    <div class="row">
        <div class="col-3">First name</div>
        <div class="col-6">{{data.first_name}}</div>
    </div>

    <div class="row">
        <div class="col-3">Last name</div>
        <div class="col-6">{{data.last_name}}</div>
    </div>

    <div class="row">
        <div class="col-3">Email</div>
        <div class="col-6">{{data.email}}</div>
    </div>

    <div class="row">
        <div class="col-3">Phone</div>
        <div class="col-6">{{data.phone}}</div>
    </div>

    <div class="row">
        <div class="col-3">House no</div>
        <div class="col-6">{{data.house_number}}</div>
    </div>

    <div class="row">
        <div class="col-3">Street</div>
        <div class="col-6">{{data.street}}</div>
    </div>

    <div class="row">
        <div class="col-3">Post code</div>
        <div class="col-6">{{data.post_code}}</div>
    </div>

    <div class="row">
        <div class="col-3">City</div>
        <div class="col-6">{{data.city}}</div>
    </div>

    <div class="row">
        <div class="col-3">Country</div>
        <div class="col-6">{{data.country}}</div>
    </div>
</div>